[Unit]
Description = Tetra IRC services
After = tetra-ircd.service
Requires = tetra-ircd.service

[Service]
ExecStartPre=/bin/sh -c '/usr/bin/docker rm -f tetra || true'
ExecStartPre=/usr/bin/docker pull xena/tetra
ExecStart=/usr/bin/docker run --name tetra --link tetra-ircd:ircd -it --link tetra-etcd:etcd -P xena/tetra

[X-Fleet]
X-ConditionMachineOf=tetra-ircd.service
X-ConditionMachineOf=tetra-etcd.service
