[Unit]
Description = Tetra etcd instance
After = docker.service
Requires = docker.service

[Service]
ExecStartPre=/bin/sh -c '/usr/bin/docker rm -f tetra-etcd || true'
ExecStartPre=/usr/bin/docker pull xena/etcd-minimal
ExecStart=/usr/bin/docker run --name tetra-etcd xena/etcd-minimal /etcd
