# autoload is a list of all the modules you want to have loaded at start
autoload:
  - tetra/dispatch # Please don't run Tetra without this loaded.
  - tetra/load
  - tetra/unload
  - tetra/version
  - tetra/scripts
  - tetra/joins
  - tetra/die
  - chatbot/eval

# A list of the services you want Tetra to seed on the network, please do not
# stray outside the folder list in `modules`
services:
  - nick: Tetra
    user: tetra
    host: yolo-swag.com
    gecos: Tetra administrative client
    name: tetra
  - nick: Chatbot
    user: bot
    host: yolo-swag.com
    gecos: Chitty chatter bot!
    name: chatbot

# Information we should send to the TS6 network
server:
  name: tetra.int
  gecos: (H) Tetra in Go!
  sid: "420" # Needs to be a string
  staffchan: '#opers'
  snoopchan: '#services'

# The server Tetra will connect to
uplink:
  host: 127.0.0.1
  port: "6667"
  password: shameless
  ssl: false #SSL not currently supported

# InfluxDB credentials. To disable stats collection, set the host to "NOCOLLECTION"
stats:
  host: NOCOLLECTION
  database: Localnet_devel
  username: tetra
  password: foobar

# vim: set ts=2 sw=2 tw=0 et filetype=yaml
