{
	"autoload": ["tetra/main", "chatbot/youtube", "chatbot/derpibooru", "chatbot/replace"],
	"services": [
		{
			"nick": "Tetra",
			"user": "tetra",
			"host": "yolo-swag.com",
			"gecos": "Tetra administrative client",
			"name": "tetra"
		},
		{
			"nick": "Chatbot",
			"user": "bot",
			"host": "yolo-swag.com",
			"gecos": "Chitty chatter bot!",
			"name": "chatbot"
		}
	],
	"myinfo": {
		"name": "tetra.int",
		"gecos": "Tetra in Go!",
		"sid": "420",
		"snoopchan": "#services",
		"staffchan": "#opers"
	},
	"uplink": {
		"host": "127.0.0.1",
		"port": "6667",
		"password": "shameless",
		"ssl": false
	},
	"stats": {
		"host": "127.0.0.1:8086",
		"db": "Localnet_devel",
		"user": "tetra",
		"pass": "foobar"
	}
}
