# autoload is a list of all the modules you want to have loaded at start
autoload:
  - tetra/load
  - tetra/unload
  - tetra/version
  - tetra/joins
  - tetra/die
  - chatbot/eval
  - chatbot/tell

# A list of the services you want Tetra to seed on the network, please do not
# stray outside the folder list in `modules`
#
# A service is defined by a nick, user, host, gecos, name and certfp
services:
  - nick:   Tetra
    user:   tetra
    host:   yolo-swag.com
    gecos:  Tetra administrative client
    name:   tetra
    certfp: 02438d05-b3e5-47f1-babd-ebd727169b8c
  - nick:   Chatbot
    user:   bot
    host:   yolo-swag.com
    gecos:  Chitty chatter bot!
    name:   chatbot
    certfp: 02438d05-b3e5-47f1-babd-ebd727169b8c

# Information we should send to the TS6 network
server:
  name: tetra.int
  gecos: (H) Tetra in Go!
  sid: "420" # Needs to be a string

# General network information
general:
  staffchan: '#opers'
  snoopchan: '#services'
  prefix: "`"
  debug: false
  workers: 8

# The server Tetra will connect to
uplink:
  host: 127.0.0.1
  port: "6667"
  password: shameless
  ssl: false

# InfluxDB credentials. To disable stats collection, set the host to "NOCOLLECTION"
stats:
  host: NOCOLLECTION
  database: Localnet_devel
  username: tetra
  password: foobar

# API keys that scripts might need
apikeys:

# Settings for etcd
etcd:
  machines:
    - "http://127.0.0.1:4001"

# vim: set ts=2 sw=2 tw=0 et filetype=yaml
